label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 380px !important;
  padding: 40px 40px;
  border-radius: 0px;
  border: 0px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin-top: 0px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.col-md-12 {
  padding-left: 0;
  padding-right: 0px;

}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.header {
  background-color: #4e83b9 !important;
}

.loader-spinner {
  margin: 100px;
  text-align: center;
}

.primary_button {
  background-color: #4e83b9;
  border: 1px solid transparent;
  line-height: 1.5;
  border-color: #6e92b5;
  font-size: 1rem;
  color: white;
  padding: .375rem .75rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.primary_button:hover {
  background-color: #6e92b5;
  border-color: #6e92b5;
}

.secondary_button {
  background-color: #6e92b5;
  border-color: #6e92b5;
  border: 1px solid transparent;
  line-height: 1.5;
  font-size: 1rem;
  color: white;
  padding: .375rem .75rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.secondary_button:hover {
  background-color: #4e83b9;
  border-color: #4e83b9;
}

.tertiary_button {
  background-color: #6c757d;
  border: 1px solid transparent;
  line-height: 1.5;
  border-color: #6c757d;
  font-size: 1rem;
  color: white;
  padding: .375rem .75rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,
  background-color .15s ease-in-out,
  border-color .15s ease-in-out,
  box-shadow .15s ease-in-out;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.tertiary_button:hover {
  background-color: #6c757d;
  border-color: #6c757d;
}

.modal-header {
  background-color: #80a9d1;
  color: white;
}

.modal-content {
  border-radius: 5px 5px 0px 0px;
  border: #80a9d1 1px;
  padding: 0;
}
.modal-dialog {
  max-width: 350px;
  padding: 0;
}

.jumbotron {
  padding-top: 1rem;
  margin-top: 10px;
}

.modal-body {
  padding: 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-item {
  font-size: 1.1rem;
}

.close_button {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
}
.close_button:hover {
  opacity: 1;
}
.close_button:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close_button:before {
  transform: rotate(45deg);
}
.close_button:after {
  transform: rotate(-45deg);
}